# Web
flask
flask-cors
gunicorn

# Database
pymongo

# Image / math
numpy
pillow
opencv-python-headless

# Face recognition
dlib
face_recognition

# Utilities
python-dotenv
requests
